{% extends 'base.html' %} {% block head_title %} Deposit Money{% endblock %} 
{%block content %}

    <div class="bg-white shadow-md rounded-lg p-4 mt-10 mb-10">
        {% if user.is_authenticated %}
        <h2 class="text-2xl font-bold mb-4">Deposit Money</h2>
        <form method="post" class="bg-white shadow-md rounded px-1 pt-6 pb-8 mb-4">
          {% csrf_token %} {% for hidden_field in form.hidden_fields %} 
          {{hidden_field.errors }} {{ hidden_field }} {% endfor %}
    
          <div class="w-full px-3 mb-6 md:mb-0">
            <label
              class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
              for="{{ form.amount.id_for_label }}"
            >
              {{ form.amount.label }}
            </label>
            {{ form.amount }} 
            {% if form.amount.errors %} 
            {% for error in form.amount.errors %}
            <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
            {% endfor %} {% endif %}
          </div>
    
          {% comment %} {{ form.as_p }} {% endcomment %}
          <input
            type="submit"
            class="bg-yellow-500 text-white py-2 px-4 mx-3 rounded mt-4"
            value="Submit"
          />
        </form>
        {% else %}
        <p class="text-gray-700">You must be logged in to leave a review.</p>
        {% endif %}
      </div>

{% endblock %}

